@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 10vw;
}

.logo {
    width: 50px;
    align-self: top;
}

.menu-btn {
    display: none;
}

.left-nav {
    display: flex;
    column-gap: 2vw;
    align-items: center;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

header a {
    text-decoration: none;
    font-size: 20px;
    padding-bottom: .5vh;
    transition: all .3s ease-in;
    color: black;

}

header a:hover {
    border-bottom: .5px solid #386598;
}

section {
    padding: 10vh 0;
}

.section-1 {
    background-image: url("assets/img1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.intro-text {
    position: absolute;
    top: 45%;
    padding-left: 10vw;
    transform: translateY(-45%);
    width: 45%;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
}

button {
    width: 170px;
    height: 55px;
    border-radius: 5px;
    color: white;
    background-color: #48c353;
    border: none;
    font-size: medium;
    cursor: pointer;
    transition: all .5s ease;
    border: 2px solid #48c353;
    font-weight: 500;
}

button:hover {
    background-color: white;
    color: #48c353;
    transition: all .5s ease;
}

h2 {
    color: white;
    font-size: 36px;
    font-weight: 200;
}


.section-2 {
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5vw;
    background-color: #F8FFF8;
}

.section-2 img {
    width: 7vw;
}

.section-2 p {
    text-align: center;
    line-height: 1.5rem;
}


h3 {
    font-weight: 300;
    font-size: 28px;
}

.benefit {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;

}

.section-3 {
    display: flex;
    align-items: top;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
    column-gap: 5vw;
}

.section-3 img {
    width: 50%;
    border-radius: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

span {
    color: #48c353;
    text-transform: uppercase;
}

.section-4,
.section-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6vh;

}

.section-heading {
    font-size: 20px;
    border-top: 1px solid #48c353;
    border-bottom: 1px solid #48c353;
    letter-spacing: 2px;
    padding: 1vh 5vw;
}

.cards {
    display: flex;
    column-gap: 10vw;
    padding-left: 10vw;
    padding-right: 10vw;

}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 2vh 1vw;
    border-radius: 10px;
    row-gap: 2vh;
    width: 20vw;
    align-items: center;
}

.card h3 {
    font-size: 24px;
}

.card span {
    font-size: 14px;
    border: 1px solid transparent;
    transition: all .5s ease-out;
    padding: .5vh 0;
}

.card span:hover {
    border-top: 1px solid #48c353;
    border-bottom: 1px solid #48c353;

    transition: all .5s ease-out;
}



.card p {
    text-align: center;
}

.card img {
    width: 100%;
}


.boxes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
}

.box {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 1vh 1vw;
    border-radius: 10px;
}

.box img {
    width: 12vw;
    height: 8vw;
    object-fit: contain;
}

footer {
    padding: 4vh 10vw 3vh 10vw;
    background-color: lightgray;

}

.footer-grid {
    display: grid;
    column-gap: 2vw;
    grid-template-columns: auto 9fr;
    padding-bottom: 7vh;
}

.footer-body {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.footer-title {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    justify-content: space-between;
}

.col p {
    font-weight: bold;
    margin-bottom: 2vh;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
    text-align: left;
    margin: 10px 0;
}

.footer-end {
    display: flex;
    justify-content: space-between;
}

.footer-end p {
    font-size: 14px;
}

.icons {
    display: flex;
    column-gap: 2vw;
}