@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 8vw;
}

.logo {
    width: 50px;
    align-self: top;
}

.menu-btn {
    display: none;
}

.left-nav {
    display: flex;
    column-gap: 2vw;
    align-items: center;
}

.right-nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

header a {
    text-decoration: none;
    font-size: 20px;
    padding-bottom: .5vh;
    transition: all .3s ease-in;
    color: black;

}

header a:hover {
    border-bottom: .5px solid #00a776;
}

section {
    padding: 10vh 8vw;
}

.section-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("assets/img1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    padding: 10vh 0;
}

.intro-text {
    position: absolute;
    top: 45%;
    padding-left: 10vw;
    transform: translateY(-45%);
    width: 45%;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
}

button {
    width: 170px;
    height: 55px;
    border-radius: 5px;
    color: white;
    background-color: #00a776;
    border: none;
    font-size: medium;
    cursor: pointer;
    transition: all .5s ease;
    border: 2px solid #00a776;
    font-weight: 500;
}

button:hover {
    background-color: white;
    color: #00a776;
    transition: all .5s ease;
}

h2 {
    color: white;
    font-size: 36px;
    font-weight: 200;
}


.section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5vw;
    background-color: #F8FFF8;
}

.section-2 img {
    width: 7vw;
}

.section-2 p {
    text-align: center;
    line-height: 1.5rem;
}


h3 {
    font-weight: 300;
    font-size: 28px;
}

.benefit {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;

}

.section-3 {
    display: flex;
    align-items: top;
    justify-content: space-between;
    column-gap: 5vw;
}

.section-3 img {
    width: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

span {
    color: #00a776;
    text-transform: uppercase;
}


.cards {
    display: flex;
    column-gap: 5vw;

}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 2vh 1vw;
    border-radius: 10px;
    row-gap: 2vh;
    width: 25vw;
    align-items: center;
}

.card p {
    text-align: center;
}

.card img {
    width: 100%;
}

.section-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
        url("assets/img1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

}

.section-6 p {
    width: 80%;
    text-align: center;
}

.section-7 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.location-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    padding: 6vh 0;
    width: 25%;
}

.location-card h3 {
    font-size: 24px;
    font-weight: 600;
}

.location-card p {
    color: white;
}

.location-card img {
    border-radius: 50%;
    object-fit: contain;
    height: 150px;
}

.lc-1 {
    background-image: url("assets/sydney-blur.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.lc-2 {
    background-image: url("assets/lahore-blur.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.lc-3 {
    background-image: url("assets/capetwon-blur.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.lc-4 {
    background-image: url("assets/port-blur.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.section-8 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.client-tiles {
    display: flex;
    column-gap: 4vw;
    justify-content: space-between;
}

.client-tile {
    display: flex;
    column-gap: 2vw;
    align-items: start;
}

.client-tile img {
    width: 5vw;
    object-fit: contain;
}

.review {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

footer {
    padding: 4vh 10vw 3vh 10vw;
    background-color: #eaf4f4;

}

.footer-grid {
    display: grid;
    column-gap: 2vw;
    grid-template-columns: auto 9fr;
    padding-bottom: 7vh;
}

.footer-body {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.footer-title {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    justify-content: space-between;
}

.col p {
    font-weight: bold;
    margin-bottom: 2vh;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
    text-align: left;
    margin: 10px 0;
}

.footer-end {
    display: flex;
    justify-content: space-between;
}

.footer-end p {
    font-size: 14px;
}

.icons {
    display: flex;
    column-gap: 2vw;
}